.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 50px;
    background-color: rgb(224, 229, 233);
}

.form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;   
}

.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 229, 233);
}
